.rightPanel {
  position: absolute;
  width: 1007px;
  height: 1080px;
  left: 939px;
  top: 0px;
  background-color: #0c0d0e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightTitle {
  width: 716px;
  height: 128px;
  left: 1116px;
  top: 97px;
  margin-top: 112px;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  display: flex;
  align-items: center;

  /* Redberry Red */

  color: #fe3b1f;
}

.description {
  /* description */

  width: 705px;
  height: 606px;
  margin-top: -58px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 200%;
  /* or 48px */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.leftTitle {
  margin-top: 131px;
  margin-bottom: 131px;
  width: 716px;
  height: 128px;
  left: 1116px;
  top: 97px;

  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  display: flex;
  align-items: center;

  /* Redberry Red */

  color: #fe3b1f;
}

.leftPanel {
  width: 1007px;
  height: 1080px;
  left: 939px;
  top: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.input {
  width: 455px;
  height: 54px;
  left: 235px;
  top: 390px;

  background: #ffffff;
  /* Primary Stroke */

  border: 1px solid #525557;
  box-sizing: border-box;
}

.error {
  color: #fe3b1f;
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: -25px;
  margin-left: 50px;
}

.navigation {
  display: flex;
  flex-direction: column;
}
.ball1 {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 377px;
  top: 904px;
  cursor: pointer;
  /* Redberry Red */
  border-radius: 50%;
  background: #fe3b1f;
}
.ball2 {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 411px;
  top: 904px;
  cursor: pointer;
  /* Redberry Red */
  border-radius: 50%;
  background: #fe3b1f;
  opacity: 0.1;
}

.ball3 {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 445px;
  top: 904px;
  cursor: pointer;
  /* Redberry Red */
  border-radius: 50%;
  background: #fe3b1f;
  opacity: 0.1;
}

.ball4 {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 479px;
  top: 904px;
  cursor: pointer;
  /* Redberry Red */
  border-radius: 50%;
  background: #fe3b1f;
  opacity: 0.1;
}
.ball5 {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 513px;
  top: 904px;
  cursor: pointer;
  border-radius: 50%;
  /* Redberry Red */

  background: #fe3b1f;
  opacity: 0.1;
}

.arrowleftDiv {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 344px;
  top: 901px;
  border-radius: 50%;
  cursor: pointer;
  /* Redberry Red */

  border: 3px solid #fe3b1f;
  transform: rotate(-180deg);
}
.arrowleft {
  position: absolute;
  border: solid #fe3b1f;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 4px;
  left: 1.8px;
}

.arrowRight {
  position: absolute;
  border: solid #fe3b1f;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 4px;
  left: 3px;
}
.arrowRightDiv {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 554px;
  top: 901px;
  border-radius: 50%;
  cursor: pointer;
  /* Redberry Red */

  border: 3px solid #fe3b1f;
}
